﻿@using umbraco;
@using umbraco.NodeFactory;
@using uComponents.Core;

@* Notes by Dan V! Please update my notes if you find errors or can improve, as I'm still a Razor noob *@

@{
    var accordionItems = new List<umbraco.interfaces.INode>(); @* Create an empty List *@
    var afterAccordionContent = string.Empty; @* Create an empty variable string *@
    var currentPage = new Node(Model.Id); @* Set currentPage as var for this pages ID  *@
    
    @* If currentPage has more the 0 children of type AccordionItem *@
    if(currentPage.ChildrenAsList.Where(child => child.NodeTypeAlias == "AccordionItem").Count() > 0)         
    {
        accordionItems = currentPage.ChildrenAsList.Where(child => child.NodeTypeAlias == "AccordionItem").ToList(); @* Chuck each AccordionItem into the list *@
        afterAccordionContent = @* Store the value from afterAccordionContent alias *@
            string.IsNullOrEmpty(currentPage.GetProperty("afterAccordionContent").Value)
            ? string.Empty : currentPage.GetProperty("afterAccordionContent").Value;
    }
}

@* If we have some... *@
@if (accordionItems.Count() > 0)
{   
    <dl class="accordion" id="my-accordion"> @* Container markup *@
        @* Loop through each of the items in the list *@
        @foreach (var item in accordionItems) 
        {   
            <dt>@item.GetProperty("accordionHeading").Value</dt> @* Heading markup and value - Textstring *@
            <dd>@Html.Raw(item.GetProperty("accordionContent").Value)</dd> @* Content markup and value - Richtext editor *@
        }
    </dl>  
    @Html.Raw(afterAccordionContent) @* Display afterAccordionContent content *@
}