.button-list {
	@extend .clearfix;
	margin-bottom: $margin-default;
	.button {
		margin-right: 6px;
		margin-bottom: $margin-mini;
		&:last-child {
			margin-right: 0;
		}
	}
	&.group {
		.button {
			margin:0;
			border-radius:0;
			border-left:0;
			@include box-shadow(0px, 0px, 1px, $shadow-color);
			&:first-child {
				border-left:1px solid darken($button-color, 25%);
				@include rounded($border-radius,top,left);
				@include rounded($border-radius,bottom,left);
				@include box-shadow(-1px, 0px, 1px, $shadow-color);
				
			}
			&:last-child {
				border-left:0;
				@include rounded($border-radius,top,right);
				@include rounded($border-radius,bottom,right);
				@include box-shadow(1px, 0px, 1px, $shadow-color);
			}
		}	
	}
}

.button {
	@if $button-border == true {
		border:1px solid darken($button-color, 25%);
	}
	@if $button-rounded == true {
		@include rounded($border-radius);
	}
	@extend .frame;
	display: inline-block;
	padding:0.4em 0.8em;
	vertical-align: middle;
	font-weight: bold;
	font-size: $font-size-small;
	line-height: normal;
	font-family: $sans-font-family;
	text-decoration: none;
	cursor: pointer;
	color: $button-text-color;
	width: auto;
	@if $button-gradient == true {
		@include gradient($button-color,$button-color-gradient);
		&:hover {
			text-decoration: none;
			color: $button-text-color-hover;
			@include gradient($button-color-hover,$button-color-hover-gradient);
		}
	} @else {
		background-color: $button-color;
		&:hover {
			text-decoration: none;
			background-color: $button-color-hover;
			color: $button-text-color-hover;
		}
	}
	&:active {
		@include box-shadow(.5px, .5px, 0px, rgba(0,0,0,0.3), true);
		text-decoration: none;
	}
	&.large {
  	padding: 0.5em 1.2em;  
	}
}
