//Default configuration (Do not change here. Change in _variables.scss)
$debug: false !default;

@if $debug == true {
	.debug {
		display: block;
		span {
			display: block;
		  background-color: yellow;
		  font-size: 0.8em;
		  &:after {
		  	font-weight: bold;
			  content: ": Mobile (1 Column)";
		  }
		}
	}

	/* 2-col, target portrait tablets */
	@media only screen and (min-width: $landscape-phone), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	  .debug span {
	    background-color: green;
	    &:after {
			  content: ": 2 Column (Portrait tablets)";
		  }
	  }
	}
	
	/* 3-col, target landscape tablets and small desktops */
	@media only screen and (min-width: $portrait-tablet), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	  .debug span {
	    background-color: orange;
	    &:after {
			  content: ": 3 Column (Landscape tablets and small desktops)";
		  }
	  }
	}
	
	/* 4-col, target large monitors, etc */
	@media only screen and (min-width: $landscape-tablet) {
	  .debug span {
	    background-color: cyan;
	    &:after {
			  content: ": 4 Column (Large desktops)";
		  }
	  }
	}

} @else {
	.debug {
		display: none;
	}
}