@font-face {
    font-family: 'crimsonroman';
    src: url('/fonts/crimson/crimson-roman-webfont.eot');
    src: url('/fonts/crimson/crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/crimson/crimson-roman-webfont.woff') format('woff'),
         url('/fonts/crimson/crimson-roman-webfont.ttf') format('truetype'),
         url('/fonts/crimson/crimson-roman-webfont.svg#crimsonroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimsonbold';
    src: url('/fonts/crimson/crimson-bold-webfont.eot');
    src: url('/fonts/crimson/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/crimson/crimson-bold-webfont.woff') format('woff'),
         url('/fonts/crimson/crimson-bold-webfont.ttf') format('truetype'),
         url('/fonts/crimson/crimson-bold-webfont.svg#crimsonbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

$special-font-family: "crimsonroman";
$special-font-family-bold: "crimsonbold";

@font-face {
    font-family: 'Icons';
    src: url('/fonts/icons/icons.eotf');
    src: url('/fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
         url('/fonts/icons/icons.woff') format('woff'),
         url('/fonts/icons/icons.ttf') format('truetype'),
         url('/fonts/icons/icons.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$icon-font-family: "Icons";

$headings-font-family: inherit; // empty to use BS default, $baseFontFamily
$headings-font-weight: bold;    // instead of browser default, bold
$headings-color: inherit; // empty to use BS default, $textColor
