form {
	@extend .clearfix;
	a {
		font-size:1em;
	}
}

label, input, textarea, select {
	font-size: $font-size-small;
	line-height: $line-height-small;
	@include box-sizing;
}

label {
	color: $label-color;
	display: block;
	position: relative;
}

input {
	vertical-align: middle;
	width: 100%;
	float: left;
	background-color: $input-background-color;
	border: 1px solid transparent;
	&[type=submit] {
		@extend .button;
	}
	&[type=checkbox], &[type=radio] {
		border: none;
		background-color: transparent;
	}
}

button {
	 @extend .button;
	 border: 1px solid transparent;
	 border:none;
}

textarea {
	width:100%;
	border: 1px solid transparent;
	background-color: $input-background-color;
}

input, textarea, button {
	@if $input-border == true {
		border: 1px solid $input-border-color;
	}
	@if $input-rounded == true {
		@include rounded($border-radius);
	} @else {
		-webkit-appearance: none;
		@include rounded(0);
	}
}

.inline label, input {
	padding: 0.3em 0.4em;
}

fieldset {
	&.inline {
		.field {
			margin-right: $margin-mini;
			&:last-child {
				margin-right: 0;
			}
			label {
				padding-left: 0;
				padding-bottom: 0;
			}
		}	
		.action {
			margin-left: -$margin-mini/2;
			clear: none;
		}
		.field, .action {
			float:left;
			margin-bottom:0;
		}
	}
	&.group {
		border: $keyline;
		padding: 0 $padding-mini $padding-mini;
	}
}

.group {
	display: block;
	legend {
		font-size: $font-size-mini;
		padding: 0 0.4em;
		margin-left: -2px;
	}
}

.field {
	margin-bottom:8px;
	position:relative;
	@extend .clearfix;
	&.check-box {
		float: left;
		width: 33%;
	}
	&.inline {
		clear:both;
		label, input {
			float: left;
			line-height: 2em;
		}
		label {
			display: inline-block;
			padding-left: 0;
		}
		input {
			width: auto;	
		}
	}
}

.action {
	clear: both;
	@extend .clearfix;
}

input[type="checkbox"], input[type="radio"], input[type="submit"], .check-box label, .radio label {
	width: auto;
	padding-top: 0; padding-bottom: 0;
	margin-right: 2%;
}

.check-box label, .radio label {
	margin: 0;
	line-height: 1.3em;	
}


.choice {
	display: block;
	margin-top: 0.1em;
	label {
		width:auto;
		float:none;
		display:inline;
		margin:0;
		padding-right:2px;
		font-size:100%;
		.required &:after {
			display: none;
		}
	}
	input, label {
		line-height: 1em;
	}
	.choice-item {
		display: block;
	}
}

.required {
	label {
		position: relative;
		margin-right: 2%;
		&:after {
			content: "*";
			color: $status-error-text;
			font-weight: bold;
			font-size: 1.2em;
			position: absolute;
			top: 0;
		}
	}
}

input.error {
	border-color: #b8332c;	
}

label.error {
	position: relative;
	float: right;
	margin-top: 8px;
	font-size: .75em;
	line-height: 1.4em;
	text-align: right;
	background-color: #b8332c;
	color: #fff;
	text-transform: none;
	padding: 2px 7px;
	-webkit-filter: drop-shadow(0 0px 2px rgba(0,0,0,0.7));
	-moz-filter: drop-shadow(0 0px 2px rgba(0,0,0,0.7));
	-ms-filter: drop-shadow(0 0px 2px rgba(0,0,0,0.7));
	-o-filter: drop-shadow(0 0px 2px rgba(0,0,0,0.7));
	filter: drop-shadow(0 0px 2px rgba(0,0,0,0.7));
	// @include box-shadow(0, 0px, 2px, rgba(0,0,0,0.7)); // Don't use this *dv
	@include rounded($border-radius);
	&:after {
		position: absolute;
		top: -7px;
		right: 7px;
		content: '';
		border-bottom: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #b8332c;
	}
	@include respond-to(large-desktop) {
		position: absolute;
		min-width: 145px;
		z-index: 1;
		bottom:34px;
		left: 92%;
		text-align: left;
		&:after{
			bottom: -7px;
			left: 7px;
			right: auto;
			top: auto;
			border-bottom: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #b8332c;
		}
	}
}

.thank-you-form {
	display: none;
}

