html, body {
	height: 100%;	
}

body {
	text-align: center;
	background-color: $body-background;
	font-family: $base-font-family;
	color: $text-color;
	font-size: $font-size-default;
	line-height: $line-height-default;
}

h1, h2, h3, h4, h5, h6, ol, ul, p {
	margin-top:0;
}

h1 {
	color: $headings-color;
	font-size: $heading-font-size-large;
}

h2 {
	font-size: $heading-font-size-small;
}

h3 {
	font-size: $heading-font-size-mini;
}

h4 {
	font-size: $font-size-large;
}

p, li {
	font-size: $font-size-default;
	line-height: $line-height-default;
}

p p {
	font-size: 100%;
}

a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

hr {
	border: $keyline-special;
	height: 1px;
	margin: $margin-default 0;
}

.container {
	margin: 0 auto;
	text-align: center;
}

.content-area .section-canvas {
	padding-top:1em;	
}

.section {
	@extend .clearfix;
}

.section-canvas {
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
	@extend .clearfix;
}

.identity {
	.logo {
		/* Edit logo dimensions in the variables sass file */
		$logo-width: 120px !default;
		$logo-height: 60px !default;
		padding: $margin-default;
		a {
			display: block;
			width: $logo-width;
			height: $logo-height;
			background: url("../img/bg-sprite.png") no-repeat 0 0;
			.svg & {
				background-image: url("../img/svg/bg-sprite.svg");
			}
			span {
				display: none;
				font-size: $font-size-mini;
			}
		}
	}
}

.utility {
	margin-top: $margin-small;
	.navigation {
		float: right;
		clear: both;
		li {
			font-size: $font-size-small;
		}
	}
	.authentication {
		display: none;
	}
	.authentication form {
		@extend .frame;
		@include rounded(5px);
		margin: $margin-default;
		float: left;
	}
}
.search-form {
	float: right;
	padding: $margin-default;
	clear: both;
}
.search-form .field {
	white-space: nowrap;
	input[type="text"] {
		color: #ccc;
		&:focus {
			color: #222;
		}
		&.activeState {
		color: #ccc;
		}
	}
}

.no-js .search-form .action {
	input[type="submit"] {
		display: none;
	}
}

.highlighted {
	padding: 1em;
	background-color: $highlight-background;
	border: 1px solid darken($highlight-background, 20%);
	margin-bottom: $margin-default;
	position: relative;
	@extend .clearfix;
	p:last-child {
		margin-bottom: 0;
	}
}

.module {
	.module-header {
		@extend .clearfix;
		.main & {
			display:none;
		}
	}
	.regular, .tabular {
		margin-bottom: $margin-default;
		position: relative;
	}
	.graphics {
		img {
			width:100%;
		}
	}
	.highlighted & {
		background-color:$secondary-color;
		border:1px solid darken($secondary-color, 20%);
		padding:$padding-default;
		position:relative;
		li, p {
			color:$white;
		}	
	}
}

.frame {
	background-color: $gray-light;
	padding: $padding-default;
}

.box {
	padding: $padding-small;
	background-color: $secondary-color;
	margin-bottom: $margin-default;
	@extend .clearfix;
	.module-header {
		color: $white;
		h2 {
			margin-bottom: 0;
			color: $white;
		}
	}
	.regular {
		margin-bottom: 0;
		border: none;
	}
}

.image-list {
	@extend .clearfix;
	ul {
		margin: 0;
		padding: 0;
		li {
			float:left;
			list-style-type: none;
			margin-left: 0.3em;
			&:first-child {
				margin-left: 0;	
			}
		}
	}
}

.image-left {
	margin: 0 0 0 1em;
	float: left;
}

.image-right {
	margin: 0 1em 0 0;
	float: right;
}

.info {
	line-height: normal;
	color: lighten($gray,35%);
	font-size: $font-size-mini;
	@extend .clearfix;
	padding-bottom: $padding-small;
	span {
		vertical-align: middle;
	}
	.icons {
		float: right;
		font-size: $font-size-large;
		font-family: $icon-font-family;
		a {
			text-decoration: none;
			em {
				display: none;
			}
		}
	}	
}

.article-list {
	margin: 0;
	padding: 0;
	@extend .clearfix;
	li {
		list-style-type: none;
		font-size: 100%;
	}
	h4 {
		margin-top: -0.4em;
	}
}

.teaser {
	@extend .clearfix;
	border-bottom: 1px solid $gray-light;
	padding-bottom: 1em;
	margin-bottom: 0.8em;
	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	h2, h3 {
		margin-bottom: 0;
		display: inline-block;
	}
	.info {
		
	}
	.graphics {
		float: left;
		width: 20%;
		padding-right: 2%;
		img {
			width: 100%;
		}
	}
	.text {
		float: left;
		width: 78%;
	}
	&.no-image {
		.graphics {
			display: none;
		}
		.text {
			float: none;
			width: auto;
		}
	}
	.action {
		.button-list {
			margin-bottom: 0;
		}
	}
}

.thumb-teaser {
	@include box-sizing(content-box);
	margin: 0 0.5% 1%;
	padding: 0;
	width: 32%;
	height: 32%;
	overflow: hidden;
	float: left;
	&.teaser {
		border: none;
	}
	a {
		position: relative;
		display: block;
		.graphics, .text {
			float:none;
			width: auto;
			display: block;
		}
		.graphics {
			padding: 0;
			img {
				width: 100%;
			}
		}
		.text {
			position: absolute;
			top: 100%;
			display: block;
			padding: $padding-small;
			color: $white;
			font-weight: bold;
			height: 100%;
			width: 100%;
			background-color: rgba(0,0,0,0.7);
			@include box-sizing;
			@include transition(top,0.5s,ease-out);
			h3 {
				font-size: $font-size-small;
				color: $white;
			}
		}
		&:hover .text {
			top:0;
		}
	}
	.sidebar &, .footer & {
		a {
			text-decoration: none;
			.text {
				position: relative;
				top:0;
				height: auto;
				width: auto;
				padding: 0;
				@include transition(top,0s,ease-out);
				background-color: transparent;
				color: inherit;
			}
		}
	}
	.sidebar & {
		width: 49%;
		a {
			.text {
				color: $text-color;
			}
		}
	}
	.footer & {
		width: auto;
	}
}

.pagination {
	@extend .clearfix;
	&.top {
		margin-bottom: $margin-default;
	}
	&.bottom {
		margin-top: $margin-default;
		padding-top: 0.2em;
		border-top: 1px solid $gray-light;
	}
	ul {
		float: right;
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			//float: left;
			margin-right: 0.2em;
			font-size: $font-size-small;
			a {
				display: block;
				span {
					background-color: $button-color;
					color: $white;
				}
				&:hover span {
					background-color: $button-color-hover;
				}
			}
			span {
				display: block;
				padding: 0 0.4em;
				color: $gray;
				background-color: $gray-light;
				@if $button-rounded == true {
					@include rounded($border-radius);
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.pag-number {
		float: left;
		color: $gray-dark;
		font-size: $font-size-small;
		line-height: $line-height-mini;
	}
}

.debug {
	display: none;
}

.overlay-content {
	display:none;
}

.overlay-mask {
	background-color:#000;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	opacity:0.5;
	filter:alpha(opacity=50);
}

.overlay-window {
	position:absolute;
	left: 300px;
	top: 300px;
	background-color: #fff;
	padding: $padding-default;
	height: auto;
	min-width: 50px;
	min-height: 30px;
	max-width: 630px;
	margin: 0 auto;
	z-index: 1000;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 10px #000;
	text-align: left;
	@extend .clearfix;
	p:last-child {
		margin-bottom: 0;
	}
	.overlay-content {
		display:block;
	}
	.page-section {
		width:auto;
	}
	.close-link {
		position: absolute;
		z-index: 10;
		right: 5px;
		top: 5px;
		text-decoration: none;
		color: $text-color;
		font-size: $font-size-mini;
		line-height: $line-height-mini;
		background: url("../img/bg-close.gif") right 50% no-repeat;
		float: right;
		padding: 0 14px 0 0;
		display: inline;
	}
}
