//Default configuration (Do not change here. Change in _variables.scss)
$grid-flexible: true !default;
$grid-columns: 24 !default;
$grid-width: 945px !default;
$grid-gutter-width: 15px !default;
$grid-padding: 0px !default;

/* ---------------------------------------------
Calculates round number figures
-----------------------------------------------*/
$totalRemainder: ($grid-width + $grid-gutter-width);
$remainderWidth: ($totalRemainder % $grid-columns);

@function gridwidth($remainderGrid) {

 	@return $remainderGrid;

}

@if $grid-flexible == false and $remainderWidth > 0  {

	$grid-width: gridwidth($grid-width - $remainderWidth);

	@if (($grid-width % $grid-columns) > 0) {
		$grid-columns: gridwidth(floor($grid-columns));
	}
	
}
/* ---------------------------------------------
/Calculates round number figures
-----------------------------------------------*/


//The clever stuff: dont change anything below this line
@if ($grid-padding > 0) {
	div.container {
		width: $grid-width;
		padding-left: $grid-padding;
		padding-right: $grid-padding;
		margin-left: auto;
		margin-right: auto;
	}
}

$total-width: $grid-width + $grid-gutter-width;
$grid-column-width: ($total-width / $grid-columns);
$grid-gutters: $grid-columns - 1;

@if $grid-flexible {
	$grid-gutter-width: percentage($grid-gutter-width/$total-width);
	$grid-column-width: percentage($grid-column-width/$total-width);
	#header > .gu#{$grid-columns},
	.content-area > .gu#{$grid-columns},
	#footer > .gu#{$grid-columns} {
		max-width: $grid-width;
	}
	div .gu#{$grid-columns} .row,
	div .gu#{$grid-columns} {
		width: auto;
	}
	
	@if ($grid-padding > 0) {
		div.container {
			max-width: $grid-width;
			width: auto;
		}
	}
}

$grid-row-width: ($grid-column-width * $grid-columns);

.row {
		@extend .clearfix;
}

/* Grid css creation moved to style.scss at the col-2 breakpoint. */

// .row {
//	@extend .clearfix;
//	position:relative;
//	margin-left:-$grid-gutter-width;
// }

// @for $i from 1 through $grid-columns {
//  .gu#{$i} .row {
//   	width: $grid-column-width * $i;
//   }
// }

// .col {
// 	padding-left: $grid-gutter-width; 
// 	float:left; 
// 	position:relative;
// }


// @for $i from 1 through $grid-columns {
//   .gu#{$i} {
//   	width: ($grid-column-width * $i) - $grid-gutter-width;
//   }
// }
