.lt-ie8 {
	.navigation.primary {
		@include respond-to(phone-tablet) {
			& > ul {
				display: inline-block;
				li {
					display: block;
					float: left;
					li {
						float: none;
						display: block;
						min-width:inherit;
						ul {
							display: none;
						}
					}
				}
			}
		}
	}
	input[type=text] {
		padding-left: 1%;
		padding-right: 1%;
		width: 98%;
		&.search-criteria {
			padding-left: inherit;
			padding-right: inherit;
			width: auto;
		}
	}
	input {
		border: none;
	}
}

.lt-ie9 {
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
	.regular {
		zoom:1;
	}
	.navigation {
		&.primary ul {
			margin-left: 0;
			border-left: 1px dotted #3d3d3d;
			border-right: 1px dotted #1a1a1a;
			li {
				border-right: 1px dotted #3d3d3d;
				border-left: 1px dotted #1a1a1a;
			}
			ul {
					border-right: none;
					border-left: none;
				li {
					border-right: none;
					border-left: none;
				}
			}
		}
	}
}