.m-accordion {
	border-top: 8px solid $secondary-color;
	border-bottom: 8px solid $secondary-color;
	margin-bottom: $margin-default;
	@include box-shadow(0, 0, 2px, rgba(0,0,0,0.6));
	.regular {
		background-color: lighten($secondary-color,5%);
		border-top: 1px solid rgba(0,0,0,0.4);
		border-bottom: 1px solid rgba(255,255,255,0.2);
		margin-bottom: 0;
	}
} 

.accordion-item {
		h3 {
			font-weight: normal;
			margin: 0 20px 0 0;
		}
    margin: 0;
    .toggle, .content{
        margin: 0;
    }
    .toggle {
        background-color: lighten($secondary-color,5%);
        color: #fff;
        padding: 8px 15px;
        font-weight: normal;
        position: relative;
        border-top: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(0,0,0,0.4);
        display: block;
        text-decoration: none;
        &:last-child {
	        border-bottom: none;
        }
        &:after {
            content: "+";
            position: absolute;
            top:10px;
            right: 10px;
            display: block;
            height: 16px;
            width: 16px;
            line-height: 14px;
            font-size: 14px;
            overflow: hidden;
            text-align: center;
            border: 1px solid #606060;
            @include gradient(#f2f2f2, #c2c2c2);
            @include rounded(3px);
            color: $gray;
            font-family: $sans-font-family;
           
        }
    }
    &.open .toggle:after {
        content: "-"
    }
    .content{
        .decor {
        	padding: 12px 8px;
        	background-color: lighten($secondary-color,72%);
        	p:last-child {
	        	margin-bottom: 0;
        	}
        }
        .no-js & {
            border-bottom: $keyline;
        }
    }
}