.m-breadcrumb {
	font-size: $font-size-small;
	color: $gray-dark;
	.regular {
		@extend .clearfix;
	}
	a, li {
		margin-right:0.4em;
	}
	ul {
		margin:0;
		padding:0;
		float: left;
		li {
			list-style-type: none;
			float:left;
			font-size: 100%;
			line-height: $line-height-mini;
			&:after {
				content: ">";
			}
			&.current {
				&:after {
					display: none;
				}
			}
		}
	}
}
