//Common module styles
.module {
	.module-header {
		@extend .clearfix;
	}
	.regular, .tabular {
		margin-bottom: $margin-default;
		position: relative;
	}
	.graphics {
		img {
			width:100%;
		}
	}
}