.m-events {
	.regular {
		
	}
}

.m-events-list {
	.teaser {
		.calendar {
			width:16%;
			margin-right: 4%;
			float: left;
		}
		div.text {
			width: 80%;
			float: left;
		}
	}
	.eventspage &, body.events & {
		.calendar {
			width:10%;
		}
		.text {
			width: 76%;
		}	
	}
	.calendar {
		position: relative;
		color: $primary-color;
		border: 0.2em solid $primary-color;
		border-top: 0.6em solid $primary-color;
		background-color: $white;
		padding: 0.2em;
		color: $white;
		font-weight: bold;
		text-align: center;
		@include box-shadow(1px,1px,2px,rgba(0,0,0,0.5));
		@include box-sizing;
		max-width: 3.4em;
		&:before, &:after {
			content: " ";
			display: block;
			background-color: $white;
			position: absolute;
			top:-0.6em;
			height: 0.25em;
			width: 0.25em;
		}
		&:before {
			left:0.25em;
		} 
		&:after {
			right:0.25em;
		}
		a {
			text-decoration: none;
			color: $primary-color;
			&:hover {
				color: $primary-color;
			}
		}
		span {
			display: block;
		}
		.week-day {
			font-size: 0.7em;
			line-height: 0.85;
			display: none;
		}
		.day {
			font-size: 1.6em;
			line-height: 0.85;
		}
		.month {
			font-size: 0.9em;
			line-height: 1.1em;
		}
		.year {
			font-size: 0.7em;
			line-height: 1.1em;
		}
		.sidebar & {
			float: none;
			border: none;
			width: auto;
			background-color: transparent;
			text-align: left;
			@include box-shadow(0,0,0,transparent);
			padding: 0;
			font-weight: normal;
			max-width: none;
			& a, & {
				color: $gray;
			}
			&:before, &:after {
				display: none;
			}
			.date {
				span {
					font-size: 100%;
					display: inline;
				}
			}
		}
	}
}