.m-find-us {
	.location {
		border-top: 1px solid $primary-color;
		border-bottom: 1px solid $primary-color;
		padding: $padding-mini 0;
		margin-bottom: $margin-mini;
		@extend .clearfix;
		.graphics {
			float: left;
			width: 49%;
			padding-right: 1%;
			.graphics {
				width: 100%;
			}
		}
		.text {
			float: left;
			width: 48%;
			padding-left: 1%
		}
		&.no-text {
			.graphics {
				float: none;
				width: 100%;
			}
		}
		.regular {
			margin-bottom: 0;
		}
	}
}

.no-js {
	.location {
		.graphics .graphics {
			padding-right: 0;
			float: none;
		}
		.gMap {
			padding: 0;
		}
	}
}