.m-hero {
    .regular{
    	margin-bottom: 0;
    }
    ul {
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }
    .graphics {
      img {
          width:100%;
          height: auto;
      }
    }
    .text {
    		@include background-rgba(0,0,0,0.7);
    		padding: $padding-default;
    		max-width: 30%;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 15%;
        h2, p {
            color: #fff;
            line-height: $line-height-mini;
        }
        h2 {
        	font-size: $heading-font-size-small;
        	margin-bottom: 0;
        }
        p {
        	margin: 0.2em 0 0;
	        font-size: $font-size-small;
        }
    }
    .no-js & {
        .text {
            display: none;
        }
    }
    .quote {
    	text-align: center;
    	.graphics {
	    	top: 0;
	    	z-index: 0;
	    	width: 100%;
    	}
	    .text {
	    	background-color: transparent;
	    	padding: 0;
	    	max-width: $grid-width;
	    	width: 80%;
	    	position: relative;
	    	z-index: 1;
	    	top: 0;
	    	left: auto;
	    	margin: -19% auto 0;
	    	h2, p {
          color: #fff;
          font-weight: bold;
          padding: 0 4.5%;
        }
        h2 {
	        font-size: 2em;
        }
        p {
	        font-size: 1.5em;
	        margin-bottom: 0;
        }
	    	&:before, &:after {
		    	display: block;
		    	font-size: 5em;
		    	position: absolute;
		    	top: 0.1em;
		    	font-weight: bold;
		    	color: #fff;
	    	}
		    &:before {
			    content:'\201C';
			    left:0;
		    }
		    &:after {
			    content:'\201D';
			    right: 0;
		    }
	    }
    }
    li {list-style-type: none;}
}

@include keyframe(loading){
    0% {
        opacity: 0;
        //@include transform-scale (0);
        -webkit-transform: scale(0);
    }
    100% {
        opacity: 1;
       // @include transform-scale (1);
       -webkit-transform: scale(1);
    }
}

.csstransitions .loading-css3{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 47%;
    bottom: -webkit-calc(50% - 25px);
    bottom: calc(50% - 25px);
    left: 47%;
    z-index: 0;
    // background: #000;
    span{
        width: 1%;
        height: 1%;
        border-radius: 100%;
        display: block;
        background: #fff;
        position: absolute;
        box-shadow: 0 0 2px 6px #fff;
        @include animation (loading, .5s, infinite, alternate);
        @media screen and (-webkit-min-device-pixel-ratio:0) { 
            &{     
                width: 4%;
                height: 4%;
            } 
        }
        &:nth-child(1){
            top: 0%;
            left: 42%;
            @include animation-delay (0s);
        }
        &:nth-child(2){
            top: 13%;
            left: 71%;
            @include animation-delay (0.11s);
        }
        &:nth-child(3){
            top: 42%;
            left: 83%;
            @include animation-delay (0.22s);
        }
        &:nth-child(4){
            top: 70%;
            left: 71%;
            @include animation-delay (0.33s);
        }
        &:nth-child(5){
            top: 83%;
            left: 42%;
            @include animation-delay (0.44s);
        }
        &:nth-child(6){
            top: 70%;
            left: 12%;
            @include animation-delay (0.55s);
        }
        &:nth-child(7){
            top: 42%;
            left: 0%;
            @include animation-delay (0.66s);
        }
        &:nth-child(8){
            top: 13%;
            left: 12%;
            @include animation-delay (0.77s);
        }
    }
}

.carousel {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 21% 0;
    overflow: hidden;
    .js & .slider {
        // width: 100%;
        // height: 100%;
        opacity: 0;
    }
    .slide {
        width: 100%;
        float: left;   
    }
    .no-csstransitions & .loading-icon{
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 46%;
        bottom: -webkit-calc(50% - 24px);
        bottom: calc(50% - 24px);
        left: 47%;
        text-indent: -5000px;
        background: url('/img/icons/loading.gif');
        z-index: 0;
    }
    .prev-button, .next-button{
        display: none; // Show once images have all loaded and Carousel has initialised
        position: absolute;
        bottom: 46%;
        bottom: -webkit-calc(50% - 17px);
        bottom: calc(50% - 17px);
        width: 36px;
        height: 35px;
        text-indent: -5000px;
        opacity: .8;
        z-index: 1000;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        .not-ie.svg &{
        	background-position: 50% 50%;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiDQoJIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTJweCIgaGVpZ2h0PSIyMXB4IiB2aWV3Qm94PSIwIDAgMTIgMjEiIG92ZXJmbG93PSJ2aXNpYmxlIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMiAyMSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjEyLjEwNSwxMC42MTMgMCwyMS4yMjkgMCwwICIvPg0KPC9zdmc+DQo=");
        }
        &:hover {
            opacity: 1;
        }
    }
    .prev-button{
        left: 10px;
        background-image: url("../img/icons/bg-arrow-sprite.png");
	    background-position: 50% -269px;
        
        .not-ie.csstransforms.svg &{ // IE 9 doesn't like rotating svg
            @include rotate(180);
        }

    }
    .next-button{
        right: 10px;
        background-image: url("../img/icons/bg-arrow-sprite.png");
        background-position: 50% -227px;
    }
    .pager {
        position: absolute;
        width: 100%;
        z-index: 99;
        bottom: 5px;
    }
    .selectors {
        margin: 0 auto;
        width: 12%;
        height: 100%;
    }
    .item {
        position: relative;
        top: 0;
        left: 0;
        float: left;
        width: 20px;
        height: 20px;
        margin: 0 0 0 5%;
        background: #fff;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
    .slide-link-list {
        visibility: hidden;
        display: inline;
        height: 20px;
        width: 100%;
        margin: 0.3em auto 0;
        text-align: center;
    }
    .slide-link-item {
        display: inline-block;
        span {
	        font-weight: bold;
					color: $white;
					background-color: $primary-color;
        }
        &.active {
	        span {
		        background-color: $secondary-color;
	        }
        }
    }
    .selected {
        background: #333;
        .first {
            margin-left: 0;
        }
    }
}
    
.iosSlider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1500px;	
}

.no-js .iosSlider {
    overflow: hidden;
    // height: 500px;
} 
