.loader-shade{
	width: 100%;
	height: 100%;
	background: url('/img/icons/loading.gif') no-repeat 50% 50%;
	background-color: #323232;
	text-align: center;
	position: absolute;
	z-index: 1;
	display: none;
}