.m-logos {
	.module-header {
		h2 {
			line-height: 40px;
			margin: 0;
		}
	}
	.regular {
		@extend .clearfix;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		list-style-type: none;
		margin-right: $margin-default;
		height: 40px;
		img {
			display: inline-block;
			height:100%;
		}
	}
}