.m-map {
	.gMap, #map-canvas {
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 60px;
	    height: 0;
	    overflow: hidden;
	    .lt-ie9 & {
	    	display: none;
	    	// padding: 0;
	    	// width: 100px;
	    	// height: 100px;
	    }
	    // display: none;
	}	
	.lt-ie9 & {
		.graphics{
			width: auto;
		}			
	}
	img{
		width: 100%;
		height: 100%;
	}
}