.m-navigation {
	@extend .box;
	background-color: #707072;
}

.m-navigation {
	li {
		border-right: medium none;
		border-bottom: 1px solid $white;
		float: none;
		font-family: $special-font-family;
		a {
			background-color: $gray-light;
			color: $gray-dark;
			text-align: left;
			font-size: $font-size-large;
			&:hover {
				background-color: $primary-color;
				color: $white;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
