.m-promo {
	@extend .clearfix;
	@extend .teaser;
}

.m-promo-list {
	@extend .clearfix;
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			.decor {
				padding: $padding-default;
				@extend .box;
			}
		}
	}
}
