.m-profile {
	.details {
		h3 {
			margin-top: -$margin-large;
			font-weight: normal;
			font-family: $special-font-family
		}
	}
	.graphics {
		margin-bottom: $margin-default;
	}
}

.m-profile-list {
	.sidebar & {
		li {
			.graphics {
				margin-bottom: $margin-mini;
			}
			.text {
				h3 {
					line-height: 1.1em;
				}
				h4 {
					font-size: $font-size-default;
					line-height: $line-height-mini;
				}
			}
		}
	}
}
