.m-quotes {
	.regular {
		text-align: center;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		margin-bottom: $margin-default;
		font-size: 100%;
		&:last-child {
			margin-bottom: 0;
		}
	}
  .text {
  	position: relative;
  	display: block;
  	font-family: $special-font-family;
  	font-size: $font-size-large;
  	padding: 0 1.2em;
  	&:before, &:after {
    	display: block;
    	font-size: 3em;
    	position: absolute;
    	top: 0.1em;
  	}
    &:before {
	    content:'\201C';
	    left:0;
    }
    &:after {
	    content:'\201D';
	    right: 0;
    }
  }
  .footnote {
  	display: block;
  	color: $secondary-color;
  	font-style: italic;
  	font-size: $font-size-mini;
  	text-align: right;
	}
}
