.main {
	.m-search-form {
		.module-header {
			display: block;
			h2 {
				margin-bottom: 0;
			}
		}
		.search-criteria {
		  font-size: $font-size-large;
		}
	}
}

.search-term, .search-count {
	font-weight: bold;
}

.m-search-results {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
  	border-bottom: $keyline;
  	margin-bottom: $margin-small;
  	&:last-child {
	  	border-bottom: none;
	  	margin-bottom: 0;
  	}
  	.action {
		  line-height: 1.2em;
		  h3 {
		  	margin-bottom: 0;
		  	font-weight: normal;
		  	a {
			  	color: $link-color;
			  	text-decoration: underline;
			  	&:hover {
				  	color: $link-color-hover;
			  	}
		  	}
		  }
		  .url {
		  	a {
			  	color:$secondary-color;
			  	text-decoration: none;
			  }
		  }
		}
		&:first-child {
			border-top: none;
			.result-link {
			  border-top: none;
			  line-height: $line-height-mini;
			}
		}
		.text {
		  &:last-child {
			  margin-bottom: 0;
		  }
		}
  }
  p {
	  color: $gray-dark;
	}
	.no-results {
	  font-weight: bold;
	}
}
