.m-sitemap {
	.level-2 > a, .link-home {
		font-weight: bold;
	}
	ul {
    position: relative;
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			font-size: $font-size-large;
			line-height: $line-height-large;
			ul {
				margin-left: $margin-large;
				li {
					font-size: $font-size-default;
					line-height: $line-height-default;
				}
			}
			a {
				text-decoration: none;
				color: $text-color;
				&:hover {
					text-decoration: underline;
					color: $link-color-hover;
				}
			}
		}
	}
}