.m-status.module, {
	.regular {
		border:1px solid $status-border;
		background: $status-background;
		padding: $padding-default;
		@include rounded;
		h3 {
			margin-bottom:0;
			color:$status-text;
			line-height: $line-height-mini;
		}
		p {
			margin-bottom:0;
			color: $status-text;
			line-height: $line-height-mini;
			font-size: $font-size-small;
		}
	}
	&.success {
		.regular {
			border: 1px solid $status-success-border;
			background: $status-success-background;
			h3 {
				color:$status-success-text;
			}
			p {
				color:$status-success-text;
			}
		}
		
	}
	&.warning {
		.regular {
			border: 1px solid $status-warning-border;
			background: $status-warning-background;
			h3 {
				color:$status-warning-text;
			}
			p {
				color:$status-warning-text;
			}
		}
	}
	&.error {
		.regular {
			border: 1px solid $status-error-border;
			background: $status-error-background;
			h3 {
				color:$status-error-text;
			}
			p {
				color:$status-error-text;
			}
		}
	}
}