.m-tabs {
	clear:both;
	.module-header {
		ul {
			background-color: $secondary-color;
			margin: 0;
			padding: 5px 10px 0;
			white-space:nowrap;
			@extend .clearfix;
			li {
				display: block;
				position:relative;
				float:left;
				margin-right:1px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: block;
					margin: 0 1px;
					position: relative;
					background: $primary-color;
					color: #fff;
					padding: 4px 10px;
					border: none;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						@include gradient($white,lighten($secondary-color,72%));
						color: $gray-dark;
					}
					&.selected {
						background-color: lighten($secondary-color,72%);
						color: $gray-dark;
					}
				}
			}
		}
	}
	.tab {
		position: relative;
		@extend .clearfix;
		background-color: lighten($secondary-color,72%);
		padding: $padding-default;
		display:none;
		&.selected {
			display:block;
		}
		.tab-title {
			display: none;
		}
		p:last-child {
			margin-bottom:0;
		}
	}
}

.no-js .m-tabs {
	.module-header {
		ul {
			background-color: transparent;
			padding: 0;
			margin-bottom: $margin-default;
			white-space: normal;
			li {
				margin: 0;
				a {
					font-size: $font-size-default;
					color: $link-color;
					background: transparent none;
					border: none;
					padding: 0;
					&:after {
						content: "|";
						text-decoration: none;
						margin: 0 5px;
						color: $gray-light;
					}
					&.selected {
						background: transparent none;
						color: $link-color;
					}
					&:hover {
						background: transparent none;
					}
				}
				&:last-child a:after {
					content: "";
				}
			}
		}
	}
	.tab-title {
		display: block;
	}
	.tab {
		display: block;
		margin-bottom: $margin-default;
	}
}
