.m-tabbed-content {
	clear:both;
	> .module-header {
		margin-bottom: $margin-default;
		h2 {
			text-transform: none;
		}
		ul {
			margin: 0;
			padding: 0;
			@extend .clearfix;
			li {
				display: block;
				position:relative;
				float:left;
				width: 50%;
				a {
					display: block;
					position: relative;
					padding: $padding-default;
					text-decoration: none;
					border: 1px solid transparent;
					outline: none;
					span {
						display: block;
					}
					.title {
						font-weight: bold;
						text-decoration: underline;
					}
					.text {
						color: $black;
					}
					&.selected {
						border: $keyline-special;
					}
				}
			}
		}
	}
	.module {
		margin-left: 0;
	}
	.tab {
		position: relative;
		@extend .clearfix;
		display:none;
		&.selected {
			display:block;
		}
		.tab-title {
			display: none;
		}
		p:last-child {
			margin-bottom:0;
		}
	}
}

.no-js .m-tabbed-content {
	.module-header {
		ul {
			margin-bottom: $margin-default;
			li {
				a {
					padding: 0;
					&.selected {
						background: transparent none;
						color: $link-color;
					}
					&:hover {
						background: transparent none;
					}
				}
				&:last-child a:after {
					content: "";
				}
			}
		}
	}
	.tab-title {
		display: block;
	}
	.tab {
		display: block;
		margin-bottom: $margin-default;
	}
}
