.m-twitter {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		float: left;
		border-bottom: $keyline-special;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
		font-size: 100%;
		&:last-child, .last {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.info {
			text-transform: none;
			font-style: italic;
			padding-bottom: 0;
		}
	}
	p {
		margin-bottom: 0;
	}
}