.video-container {
    position: relative;
    overflow: hidden;
    border: none;
      padding: 28.5%;
}

.vimeo-video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

}

.video-container iframe, 
.video-container object,
 .video-container embed {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
}