//Roundness
@mixin rounded($radius: $border-radius, $vert : "", $horz : "" ) {
	@if $vert != "" {
		$vert : - $vert;
	} else {
		$vert : $vert;
	}
	@if $horz != "" {
		$horz : - $horz;
	} else {
		$horz : $horz;
	}
  -moz-border-radius#{$vert}#{$horz}: $radius;
  -webkit-border#{$vert}#{$horz}-radius: $radius;
  border#{$vert}#{$horz}-radius: $radius;
}

//Gradient
@mixin gradient($from, $to) {
	background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $from 0%,$to 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}'); /* IE8- */
	background: -ms-linear-gradient(top, $from 0%,$to 100%); /* IE10+ */
	background: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C */
}

//Box Shadow
	/* example:
	@include box-shadow(-5px,0px,5px,rgba(0,0,0,0.3)); for transparent shadow.
	@include box-shadow(4px,4px,2px,#000,true); for inset shadow.
	*/
@mixin box-shadow($top: 2px, $left: 2px, $blur: 2px, $color: #333, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

//Box Sizing
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;   
}

//Columns
@mixin columns($number : 2, $gap : 2%) {
	position: relative;
	-webkit-column-count: $number;  
	-moz-column-count: $number;     
	column-count: $number; 
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}

//Opacity
@mixin opacity ($amount :0.8) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$amount * 100})"; // For IE 8 & 9 (more valid) but not required as filter works too
  filter: alpha(opacity=#{$amount * 100}); // This works in IE 8 & 9 too but also 5, 6, 7 */
  -moz-opacity: $amount;
  -khtml-opacity: $amount; /* Safari 1.x */
  opacity: $amount;
}

//Alpha Background
@mixin background-rgba($red: 0, $green: 0, $blue: 0, $alpha: 0.5) {
  background-color: lighten(rgb($red, $green, $blue), 80%);
  background-color: rgba($red, $green, $blue, $alpha);
}

//Flexible Width
@mixin flexible-width ($context, $target) {
  width: (($target / $context) * 100%);
}

@mixin convert-ems ($pixels) {
	font-size: 1 / $base-font * $pixels;
}

//Rotate
@mixin rotate($degrees : 180) {
	//does not support IE8 and below
	-webkit-transform: rotate($degrees#{deg});
	-moz-transform: rotate($degrees#{deg}); 
	-o-transform: rotate($degrees#{deg}); 
	-ms-transform:rotate($degrees#{deg});
	transform:rotate($degrees#{deg});
}

//Scale
@mixin scale($amount : 0.8) {
	-webkit-transform: scale($amount);
	-moz-transform: scale($amount);
	-o-transform: scale($amount);
	-ms-transform: scale($amount);
	transform: scale($amount);  	
}

// Animation
@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($animation, $duration, $iterations, $fill-mode) {
    -webkit-animation: $animation $duration $iterations $fill-mode;
    -moz-animation: $animation $duration $iterations $fill-mode;
    -o-animation: $animation $duration $iterations $fill-mode;
    animation: $animation $duration $iterations $fill-mode;
}

@mixin animation-delay ($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-o-animation-delay: $delay;
	animation-delay: $delay;
}

@mixin transition($property: all, $duration: 0.2s, $type: ease-in-out) {
	-webkit-transition: $property, $duration, $type;
	-moz-transition: $property, $duration, $type;
	-o-transition: $property, $duration, $type;
	transition: $property, $duration, $type;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-webkit-flex:  $values;
	-ms-flex:  $values;
	flex:  $values;
}

//Responsive Mixin
//Usage example within a css rule ".container { @include respond-to(large-desktop) { width:60%; } }"
//Defaults
// ! IMPORTANT: main.js > UBP.mobileNav... The script needs to be in synch with the mobile value, so if you change it here change it there too!

$large-desktop-value: 1200 !default; // @media (min-width:) { ... }
$desktop-value: 1024 !default; // @media (min-width:) { ... }
$landscape-tablet-value: 979 !default; // @media (min-width:) and (max-width:) { ... }
$portrait-tablet-value: 768 !default;
$landscape-phone-value: 480 !default; // @media (max-width:) { ... }
$portrait-phone-value: 320 !default; // @media (max-width:) { ... }

// Pixels to Ems conversion
$large-desktop: 1 / $base-font-value * $large-desktop-value + em;
$desktop: 1 / $base-font-value * $desktop-value + em;
$landscape-tablet:  1 / $base-font-value *  $landscape-tablet-value + em;
$portrait-tablet: 1 / $base-font-value * $portrait-tablet-value + em;
$landscape-phone: 1 / $base-font-value * $landscape-phone-value + em;
$portrait-phone: 1 / $base-font-value * $portrait-phone-value + em;

@mixin respond-to($point) {
	@if $grid-flexible {
		// Large desktop
		@if $point == large-desktop {
			@media (min-width: $desktop) and (max-width: ($large-desktop - 0.1)) { @content; }
		}
		// Regualar desktop
		@else if $point == desktop {
			@media (min-width: $landscape-tablet) and (max-width: ($desktop - 0.1)) { @content; }
		}
		// Landscape tablet
		@else if $point == landscape-tablet {
			@media (min-width: $portrait-tablet) and (max-width: ($landscape-tablet - 0.1)) and (orientation : landscape) { @content; }
		}
		// Portrait tablet
		@else if $point == portrait-tablet {
			@media (min-width: $landscape-phone) and (max-width: ($portrait-tablet  - 0.1)) and (orientation : portrait) { @content; }
		}
		// All tablet orientations
		@else if $point == tablet {
			@media (min-width: $landscape-phone) and (max-width: ($landscape-tablet - 0.1))  { @content; }
		}
		// Landscape phone
		@else if $point == landscape-phone {
			@media (min-width: $portrait-phone) and (max-width: ($landscape-phone - 0.1)) and (orientation : landscape) { @content; }
		}
		// Portrait phone and down
		@else if $point == portrait-phone {
			@media (max-width: $portrait-phone) and (orientation : portrait) { @content; }
		}
		// All phone orientations
		@else if $point == phone {
			@media (max-width: $landscape-phone)  { @content; }
		}
	}
}
