.navigation.primary {
	@include respond-to(phone-tablet) {
		& > ul {
			display: table!important;
		}
		ul {
			display: table;
			width: 100%;
			li {
				display: table-cell;
				float: none;
				ul {
					display: none;
					width: auto;
					li {
						display: inherit;
					}
				}
			}
		}
	}
	.stretch {
		@include respond-to(phone) {
			width: auto !important;
		}
		li {
			@include respond-to(phone) {
				width: auto !important;
			}
		}
	}
}
