.navigation {
	@extend .clearfix;
	background-color: $navigation-background;
	a {
		background-color: $navigation-link-background;
		text-decoration: none;
		display: block;	
		padding: 0.4em 0.6em;
		color: $navigation-link-color;
		text-align: center;
		font-size: $navigation-font-size;
		&:hover {
			color: $navigation-link-color-hover;
			background-color: $navigation-link-background-hover;
		}
	}
	li.active {
		a {
			color: $navigation-link-color-active;
			background-color: $navigation-link-background-active;
		}
		li.active {
			a {
				color: $dropdown-link-color-active;
				background-color: $dropdown-link-background-active;
				@if	$dropdown-link-underline == true {
					text-decoration: underline;
				}
			}
		}
	}
	ul {
		margin:0;
		padding:0;
		display: block;
		li {
			list-style-type: none;
			position:relative;
			ul {
				display: none;
			}
		}
	}
	&.primary {
		ul {
			border-left: 1px solid rgba(255,255,255,0.5);
		}
		li {
			float: left;
			border-right: 1px solid rgba(255,255,255,0.5);
		}
	}
	&.secondary {
		border: none;
		margin-bottom: $margin-default;
		ul {
			@extend .clearfix;
		}
		li {
			float: none;
			&.active {
				a {
					color: $navigation-link-color;
				}
			}
		}		
	}
	&.dropdown {
		ul {
			li {
				&:hover ul {
					display: block;
				}
			}
			ul {
				display: none;
				float: none;
				z-index: 999;
				position:absolute;
				min-width: 200px;
				background: $dropdown-background;
				@if $dropdown-border == true {
					border: 1px solid $dropdown-border-color;
					border-top: none;
				} @else {
					 border: none;
				}
				@if	$dropdown-shadow == true {
					@include box-shadow(2px, 2px, 3px, $dropdown-shadow-color);
				}
				@include respond-to(phone-tablet){
					& { 
						position:absolute;
					}
				}
				li {
					float: none;
					background: $dropdown-background;
					@if	$dropdown-dividers == true {
						border: none;
						border-bottom: 1px solid $dropdown-dividers-color;
					} @else {
						border: none !important;
					}
					a {
						text-align: left;
						color: $dropdown-link-color;
						&:hover {
							color: $dropdown-link-color-hover;
							background-color: $dropdown-link-background-hover;
						}
					}
					@if	$dropdown-dividers == true {
						&:last-child {
							border-bottom: none;	
						}
					}
				}
			}		
		}
	}
	.navigation-toggle {
		display: none;
		&:active {
			outline: none;
		}
	}
	@include respond-to(phone) {  
	  &.primary {
		  .js & {
		  	ul {
					display: none;
				}
			}
			.navigation-toggle {
				display: block;
			}
			li {
				width: 100%;
				border-top: 1px solid $navigation-mobile-border-color;
				a {
					text-align: left;
					font-size: $navigation-mobile-font-size;
				}
				ul {
					position: relative;
					li {
						a {
							padding: .6em 1.4em;
						}
						&:first-child{
							border-top: 1px solid $navigation-mobile-border-color;
						}
					}	
				}
				.no-js &:hover ul {
					display: block;
				}
				.js &:hover ul {
					display: none;
				}
			}
		}
		.js & .navigation-toggle {
			position: relative;
			text-decoration: none;
			color: $navigation-toggle-color;
			background-color: $navigation-toggle-background;
			border-top: 1px solid $navigation-mobile-border-color;
			text-align: left;
			&:hover {
				color: $navigation-toggle-color-hover;
				background-color: $navigation-toggle-background-hover;
			}
			&:after{
				content: '▼';
				position: absolute;
				right: 10px;
			}
			&.expanded:after{
				content: '▲';
			}
		}
	}
	@include respond-to(phone-tablet) {
		li:hover ul &.dropdown {
			display: block !important; // need to overide the JS
		}
	}
}
