@import "vendor/normalize";
@import "vendor/boilerplate";

.clearfix {
    zoom:1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}