/*
	Media queries
	100% = 1 em ~= 16px ~= 14pt 
	35em ~= 560px
	48em ~= 768px
	50em ~= 800px
	64em ~= 1024px
	70em ~= 1120px
	http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
*/


/*
  8b    d8  dP"Yb  88""Yb 88 88     888888       888888 88 88""Yb .dP"Y8 888888 
  88b  d88 dP   Yb 88__dP 88 88     88__   _____ 88__   88 88__dP `Ybo."   88   
  88YbdP88 Yb   dP 88""Yb 88 88  .o 88""   """"" 88""   88 88"Yb  o.`Y8b   88   
  88 YY 88  YbodP  88oodP 88 88ood8 888888       88     88 88  Yb 8bodP'   88 

  http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=mobile-first

  Common styles + target small screens
*/

/* start breakpoint (1-col) - Mobile-first */

h1 {
	color: $headings-color;
	font-size: $heading-font-size-large;
	font-family: $header-font-family;
	font-weight: normal;
}

h2 {
	font-size: $heading-font-size-small;
	font-family: $header-font-family;
	font-weight: normal;
}

h3 {
	font-size: $heading-font-size-mini;
	font-family: $header-font-family;
	font-weight: normal;
}

h4 {
	font-size: $font-size-large;
	font-family: $special-font-family;
	font-weight: normal;
	margin-bottom: $margin-mini;
}

h2, h3 {
	margin-bottom: $margin-small;
}

h1 a, h2 a, h3 a {
	color: $black;
	text-decoration: none;
	&:hover {
		color: $black;
	}
}

form {
	label, .for-input {
		float: none;
		text-transform: uppercase;
		font-size: $font-size-mini;
		color: $gray;
		font-weight: bold;
	}
	fieldset.group {
		border: $keyline-special;
		legend {
			text-transform: uppercase;
			font-size: 0.635em;
			line-height: $line-height-mini;
			padding: 0 0.4em;
			font-weight: bold;
			margin-left: -2px;
		}
	}
}

.desktop-only {
	display: none;
}
.mobile-only {
	display: block;
}

.container {
	position: relative;
}

.breadcrumb-container {
	@extend .section-canvas;
	@extend .gu24;
	padding-top: 0;
	display: none;
}

.widget-container {
	@extend .clearfix;
}

.header {
	position: relative;
	.section-canvas {
		position: relative;
	}
	.m-search-form {
		.search-criteria {
			background-color: $tertiary-color;
			color: $white;
			@include rounded(0);
		}
		.action {
			margin-left: -0.6em;
			.button {
				@include rounded(0);
				&:hover {
					color: $button-color;
					background-color: $white; 
				}
			}
		}
	}
	.decor {
		position: relative;
		margin: 0 auto;
		max-width: $grid-width;
	}
}

.top-bar {
	@extend .clearfix;
	background-color: $secondary-color;
	padding: 5px;
	.m-contact-details {
		margin: 0 auto;
		max-width: $grid-width;
		li {
			float: left;
		}
	}
}

.bottom-bar {
	@extend .clearfix;
	margin: 0 auto;
	max-width: $grid-width;	
	display: none;
}

.identity {
	.logo {
		background-color: $white;
		padding: 6px 4px;
		a {
			margin: 0 auto;
		}
	}
}

.utility {
	@extend .clearfix;
	margin: 0;
}

.navigation-bar {
	background-color: $tertiary-color;
	@include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.5));
	position: relative;
	z-index: 8;
	.navigation {
		margin: 0 auto;
		max-width: $grid-width;
	}
}

.navigation {
	border: none;
	li {
		font-size: 100%;
	}
	&.primary {
		background-color: transparent;
		a {
			font-family: $header-font-family;
			font-weight: normal;
			text-transform: uppercase;
			padding: 0.6em;
		}
		ul {
			border-left: none;
		    ul {
			    margin:0;
		    }
			li {
				border-right: none;
				border-left: none;
				float: none;		
			}
		}
	}
	&.secondary {
		@extend .frame;
		background-color: #fff;
	}
}

.content-area {
	background-color: $white;
	.section-canvas {
		padding: $padding-large 0;
	}
	.full-width {
		.structural {
			width:auto;
			float: none;
		}
	}
}

.section-canvas {
	background-color: transparent;
	& > .decor {
		max-width: $grid-width;
		margin: 0 auto;
		@include box-sizing;
		padding: $padding-large 0;
	}
}

.sidebar {
	.module {
		border-bottom: $keyline-special;
		margin-bottom: $margin-default;
		padding-bottom: $margin-default;
	}
	.widget-container {
		display: block;
		border-left: $keyline;
		padding-left: 10%;
		margin-left: 4%;
		width: auto;
		.module {
			display: block;
			width: auto;
			&:last-child {
				border-bottom: 0px solid transparent;
			}
			.regular {
				@extend .clearfix;
			}
			.module-header h2 {
				margin-bottom: 0;
			}
		}
	}
	.teaser {
		border-bottom: none;
		padding-bottom: 0;
		.graphics {
			float: none;
			width: auto;
			padding: 0;
		}
		.text {
			float: none;
			width: auto;
		}
	}
	.frame {
		input, textarea {
			background-color: $white;
		}
	}
	.m-navigation {
		a {
			background-color: #f7f7f7;
		}
		.navigation {
			padding:0;
			margin-bottom: 0
		}
		li.active {
			a {
				color: $black;
				background-color: #f7f7f7;
				&:hover {
					background-color: $primary-color;
				}
			}
			li {
				a {
					color: $gray-dark;
					&:hover {
						color: $white;
						background-color: $primary-color;
					}
				}
				&.active {
					a {
						color: $black;
					}
				}
			}
		}
	}
	.m-profile-list {
		.article-list {
			margin-left: -2%;
			@extend .clearfix;
			li {
				float: left;
				padding-left: 2%;
				width: 48%;
				.teaser-text {
					display: none;
				}
			}
		}
	}
}

.footer {
	font-family: $sans-font-family;
	@extend .clearfix;
	color: $white;
	a {
		color: $white;
		&:hover {
			color: $gray-light;
		}
		&.button {
			color: $button-text-color;
		}
	}
	label, h2 a, h3 a {
		color: #fff;
	}
	.aside {
		padding: 2em 0;
		.button:hover {
			color: $button-color;
			background-color: $white; 
		}
	}
	.bottom-bar {
		background-color: $secondary-color;
		font-size: $font-size-mini;
		padding: 0.2em 2%;
		&, p, li {
			line-height: $line-height-default;
		}
	}
	.navigation {
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style-type: none;
				border: none;
				float: left;
				a {
					background-color: transparent;
					color: $white;
					padding:0;
					&:hover {
						background-color: transparent;
						color: $white;
					}
					&:after {
						content: "|";
						margin: 0 0.3em;
						display: inline-block;
					}
				}
				&:last-child {
					a:after {
						content: none;
					}
				}
			}
		}		
	}
	.copyright {
		float: right;
	}
	.module { 
		.regular {
			background: transparent none;
		}
	}
	.teaser {
		.graphics {
			display: none;
		}
		.text {
			width: 100%;
		}
	}
	.m-twitter {
		.info {
			color: $white;
			background-color: $primary-color;
			@include rounded;
			display:none;
			position: absolute;
			bottom: 0.5em;
			right: 0;
		}
		li {
			&:last-child {
				.info {
					bottom:0;
				}
			}
			position: relative;
			&:hover {
				.info {
					display: block;
					padding: 0.1em 0.5em;
				}
			}
		}
	}
}

.aside {
	h1, h2, h3, p, li, label, .info {
		color: $white;
	}
	li {
		font-size: 100%;
	}
	label {
		font-size: $font-size-mini;
		line-height: $line-height-small;
	}
	p {
		font-size: $font-size-small;
		line-height: $line-height-small;
	}
	.widget-container {
		> .module {
			.module-header {
				@extend .frame;
				background-color: $secondary-color;
				padding-bottom: 0;
				margin-bottom: -5px;
				h2 {
					margin-bottom: 0;
				}
			}
			.regular {
				@extend .frame;
				background-color: $secondary-color;
				margin-bottom: 0;
				@extend .clearfix;
				.regular {
					padding: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

.button {
	text-transform: uppercase;
	font-size: 0.698em;
}

.more {
	@extend .forward;
	&:after {
		@extend .forward:after;
	}
}

.frame {
	position: relative;
}

.box {
	.regular {
		margin: $margin-mini;
	}
	.widget-container & {
		padding: 0;
		border-bottom: 0;
	}
	.footer & {
		background-color: $secondary-color;
		.teaser, &.m-twitter li, form fieldset.group {
			border-color: $primary-color;
		}
		.regular, .module-header {
			margin: 0;
		}
	}
}

.teaser {
	border-bottom-style: dashed;
	h2, h3 {
		font-weight: normal;
	}
}

.info {
	text-transform: uppercase;
	color: $gray-dark;
}
	
.m-contact-details {
	@extend .clearfix;
	text-align: right;
	color: #fff;
	ul {
		li {
			font-size: $font-size-large;
			a {
				color: #fff;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
}
	
.m-hero {
	background: #3a3a3a;
	position: relative;
	.pagination {
		display: block;
		position: absolute;
		z-index:3;
		bottom: 0;
		width: 100%;
		height: 35px;
		@include background-rgba(0,0,0,0.5);
		border: 0;
		margin: 0;
		padding: 0;
		.prev-button, .next-button {
			background-color: #869398 !important;
			width: 40px;
			height: 35px;
			bottom: 0;
		}
		.prev-button {
			left: 0;
		} 
		.next-button {
			right: 0;
		}
	}
	.text {
		left: 18%;
		h2 {
			font-family: $special-font-family;
		}
	}
}

.m-feature {
	position: relative;
	&.decor {
		color: #f0f0f0;
	  font-family: $icon-font-family;
	  font-size: 150px;
	  position: absolute;
	  right: -12px;
	  top: -15px;
	  z-index: 1;
  }
  & .section-bottom {
		@extend .frame;
		padding: $padding-default;
	}
}

.homepage {
	.main {
		padding: 0;
		border:none;
		background-color: transparent;
		@include box-shadow(0, 0, 0, transparent);
	}
}

.module-header h2 {
	font-size: $heading-font-size-default;
	letter-spacing: 0;
	font-weight: normal;
	line-height: $line-height-mini;
	margin-bottom: $margin-mini;
	position: relative;
	z-index: 2;
}

.m-form {
	@extend .clearfix;
	@extend .frame;
	background-color: #fff;
	padding: $padding-default;
	margin-bottom: $margin-default;
	.regular {
		margin-bottom: 0;
	}
	.check-box {
		width: 50%;
		float: left;
	}
	.action {
		clear: both;
		padding: $margin-mini 0;
	}
	&.expandable {
		.toggle {
			background-position: right -84px;
			padding-left: 0;
			margin-bottom: 0;
			&:hover {
				color: $gray-light;
			}
			.svg & {
				background-position: right 50%;
				background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSItMy4wMjUgMCAzNiAzNiIgb3ZlcmZsb3c9InZpc2libGUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgLTMuMDI1IDAgMzYgMzYiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlsaW5lIGZpbGw9IiM5MDkwOTAiIHBvaW50cz0iMTguMDU1LDE4LjA1NiAxMy43MzIsMTMuNzM0IDAsMCAxMS45MDgsMCAyNC4wMSwxMi4xMDIgMjQuMTExLDEyLjIwNSAyNC4xNjYsMTIuMTUyIA0KCTMwLjExOSwxOC4xMDUgMjQuMTY2LDI0LjA2MSAxMi4wNjQsMzYuMTYyIDAuMTU2LDM2LjE2MiAxMy44ODksMjIuNDMgIi8+DQo8L3N2Zz4=");
			}
			.no-js & {
				margin-bottom: $margin-mini;
			}
		}
		&.open {
			.toggle {
				background-position: right -55px;
				.svg & {
					background-position: right 50%;
					background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSItMC4wMDQgLTMuMDIxIDM2IDM2IiBvdmVyZmxvdz0idmlzaWJsZSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMC4wMDQgLTMuMDIxIDM2IDM2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5bGluZSBmaWxsPSIjOTA5MDkwIiBwb2ludHM9IjE4LjA1NiwxMi4wNjUgMTMuNzM0LDE2LjM4NyAwLDMwLjEyIDAsMTguMjExIDEyLjEwMiw2LjExIDEyLjIwNSw2LjAwOCAxMi4xNTIsNS45NTQgMTguMTA1LDAgDQoJMjQuMDYsNS45NTQgMzYuMTYyLDE4LjA1NSAzNi4xNjIsMjkuOTYzIDIyLjQyOSwxNi4yMzEgIi8+DQo8L3N2Zz4=");
				}
			}
		}
		&.close {
			.toggle {
				background-position: right -84px;
				.svg & {
					background-position: right 50%;
					background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSItMC4wMDMgLTMuMDIxIDM2IDM2Ig0KCSBvdmVyZmxvdz0idmlzaWJsZSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMC4wMDMgLTMuMDIxIDM2IDM2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5bGluZSBmaWxsPSIjOTA5MDkwIiBwb2ludHM9IjE4LjEwNSwxOC4wNTUgMjIuNDI4LDEzLjczMiAzNi4xNjIsMCAzNi4xNjIsMTEuOTA4IDI0LjA2MSwyNC4wMSAyMy45NTcsMjQuMTExIDI0LjAxLDI0LjE2NiANCgkxOC4wNTcsMzAuMTE5IDEyLjEwMiwyNC4xNjYgMCwxMi4wNjQgMCwwLjE1NiAxMy43MzIsMTMuODg5ICIvPg0KPC9zdmc+");
				}
			}
		}
		.content {
			padding-left: 0;
			margin-top: $margin-mini;
			.no-js & {
				margin-top: 0;
			}
		}
	}
}

.m-tabs {
	.main & {
		.module-header {
			display: block;
		}
	}
	.module-header {
		ul {
			li {
				a {
					@include rounded(5px,top,left);
					@include rounded(5px,top,right);
					font-family: $header-font-family;
					&.selected {
						border-color: transparent;
					}
				}	
			}
		}
	}
}
	
.searchpage {
	.main {
		.m-search-form {
			border: $keyline-special;
			padding: $padding-default;
		}
	} 
}

.m-navigation-accordion {
	@extend .clearfix;
	@extend .frame;
	background-color: #fff;
	margin-bottom: $margin-default;
	.module-header {
		padding: 1.09em $padding-default;
		h2 {
			margin-bottom: 0;
		}
	}
	.regular {
		margin-bottom: 0;
	}
}

.contactpage {
	.contact-form {
		textarea {
			height: 14em;
		}
	}
}

.calculatorspage {
	.module {
		.module-header {
			display: block;
		}
	}
}

.m-calculator {
	span.group {
		position: relative;
		margin-left: -1%;
		input {
			margin-left: 1%;
		}	
	}
	input {
		&.term-group {
			width: 49%;
		}
	}
}


/* end breakpoint (1-col) - Mobile-first */
	
/*
  oP"Yb.       dP""b8  dP"Yb  88     
  "' dP' ____ dP   `" dP   Yb 88     
    dP'  """" Yb      Yb   dP 88  .o 
  .d8888       YboodP  YbodP  88ood8 

  http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=2-col

  2-col, target portrait tablets 
*/

@media only screen and (min-width: $landscape-phone), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* start breakpoint (2-col) */
	
	/* grid units creation start */
	.row {
		position:relative;
		margin-left:-$grid-gutter-width;
	}
	
	@for $i from 1 through $grid-columns {
	  .gu#{$i} .row {
	  	width: $grid-column-width * $i;
	  }
	}
	
	.col {
		padding-left: $grid-gutter-width; 
		float:left; 
		position:relative;
	}
	
	@for $i from 1 through $grid-columns {
	  .gu#{$i} {
	  	width: ($grid-column-width * $i) - $grid-gutter-width;
	  }
	}
	/* grid units creation end */
	
	/* widget widths creation start */
	.widget-container {
		$widget-container-width: $grid-width;
		@if $grid-flexible == true {
			$widget-container-width: 100%;
		}
		$widget-max-number: 10;
		position: relative;
		margin-left: -$grid-gutter-width;
		& > .module {
			float:left;
			padding-left: $grid-gutter-width;
		}
		@for $i from 1 through $widget-max-number {
		  &.widget-count-#{$i} {
		  	& > .module {
					width: ($widget-container-width / $i) - $grid-gutter-width;
				}
		  }
		}
		.sidebar & {
			& > .module {
				width: auto;
				float: none;
				padding-left: 0;
				margin-left:0;
				padding-bottom: 0;
			}
		}
	}
	/* widget widths creation end */
	
	/* promo-list widths creation start */
	.m-promo-list {
		$promo-container-width: $grid-width;
		@if $grid-flexible == true {
			$promo-container-width: 100%;
		}
		$promo-max-number: 10;
		position: relative;
		li {
			float: left;
			.decor {
				margin-left: $grid-gutter-width;
			}
			&:first-child {
				.decor {
					margin-left: 0;
				}
			}
		}
		@for $i from 1 through $promo-max-number {
		  .promo-count-#{$i} {
		  	li {
					width: ($promo-container-width / $i);
				}
		  }
		}
	}
	/* promo-list widths creation end */
	
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}
	
	.breadcrumb-container {
		display: block;
	}
	
	.header {
		.utility {
			float: right;
		}
	}
	
	.bottom-bar {
		display: block;
	}
	
	.utility {
		> .module {
			float: left;
		}
		.m-social {
			float: left;
			.regular {
				margin-bottom: 0;
			}
		}
	}
	
	.identity {
		.logo {
			@include box-shadow(2px, 2px, 3px, rgba(0, 0, 0, 0.07));
			position: absolute;
			left: 20px;
			top:0;
			z-index: 9;
			padding: 6px 4px;
		}
	}
	
	.navigation-bar {
		.navigation {
			ul {
				margin-left: $logo-width + 28px;
			}
		}
	}
	.navigation {
		&.primary {
			ul {
				li {
					float: left;
					li {
						border-bottom-style: dashed;
				    min-width: 14em;
						a {
							padding: 0.8em 1em;
						}
					}
				}
			}
			a {
				line-height: $line-height-large;
				padding: 1.2em 0.6em;
			}
		}
	}
	
	
	/* end breakpoint (2-col) */
}


/*

  88888       dP""b8  dP"Yb  88     
    .dP ____ dP   `" dP   Yb 88     
  o `Yb """" Yb      Yb   dP 88  .o 
  YbodP       YboodP  YbodP  88ood8 

  http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=3-col

  3-col, target landscape tablets and small desktops 
*/


@media only screen and (min-width: $portrait-tablet), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* start breakpoint (3-col) */ 
	
	
	
	/* end breakpoint (3-col) */
}


/*

    dP88        dP""b8  dP"Yb  88     
   dP 88  ____ dP   `" dP   Yb 88     
  d888888 """" Yb      Yb   dP 88  .o 
      88        YboodP  YbodP  88ood8 

  http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=4-col

  4-col, target large monitors, etc
*/
@media only screen and (min-width: $landscape-tablet) {
	/* start breakpoint (4-col) */ 
	
	
	
	/* end breakpoint (4-col) */
}