table {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
	background-color: $table-background;
}

tr {
	@if	$table-row-hover == true {
		&:hover {
			background-color: $table-row-hover-color !important;
		}
	}
	tbody & {
		@if	$table-row-striping == true {
			&:nth-child(2n+2) {
				background-color: $table-row-striping-color;
			}
		}
	}
}

th, td {
	font-size: $font-size-small;
	line-height: $line-height-mini;
	@if	$table-gridlines == true {
		border-collapse: collapse;
		border: 1px solid $table-gridlines-color;
	}
	p {
		margin: 0;
	}
}

th {
	color: $table-header-color;
	background-color: $table-header-background;
	text-align: center;
	padding: 0.4em 0.5em;
	&.sortable {
		a {
			color: $text-color;
			display:block;
			background-repeat: no-repeat;
			padding-right: 12px;
			&.asc {
				background-image: url("../img/sprites/bg-arrow-sprite.png");
				background-position: right -170px;
			}
			&.desc {
				background-image: url("../img/sprites/bg-arrow-sprite.png");
				background-position: right -200px;
			}
			&:hover {
				color: #b3b3b3;
			}
		}
	}
}

td {
	text-align: left;
	padding: 0.2em 0.4em;
}
