// Grid
$grid-flexible: true;
$grid-columns: 24;
$grid-width: 940px;
$grid-gutter-width: 20px;
$grid-padding: 0px;

// Resonsive breakpoint debug bar - Only applies to flexible/responsive sites.
$debug: true;

// Colours
$black: #000;
$gray-dark: #4c4c4c;
$gray: #666;
$gray-light: #f0f0f0;
$white: #fff;
$primary-color: #3295c6;
$secondary-color: #194b64;
$tertiary-color: #000;

// Scaffolding
$body-background: $primary-color;
$text-color: $black;
$highlight-color: $gray-dark;
$highlight-background: lighten($highlight-color, 80%);
$keyline: 1px solid #ddd;
$keyline-special: 1px dashed #ddd;

// Typography
$sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
$header-font-family: $special-font-family-bold, "Helvetica Neue", Helvetica, sans-serif;
$base-font-family: $sans-font-family;
$alternate-font-family: $serif-font-family;

$base-font-value: 16; //in pixels, excluding units i.e "px"

/* 
	1 ÷ base/parent font size (px) × required pixels = em equivalent
	@ 16px base - 18px = 1.125em
	@ 16px base - 16px = 1em
	@ 16px base - 14px = 0.875em
	@ 16px base - 12px = 0.75em 
*/

$font-size-large-value: 1 / $base-font-value * 16;
$font-size-default-value: 1 / $base-font-value * 15;
$font-size-small-value: 1 / $base-font-value * 13;
$font-size-mini-value: 1 / $base-font-value * 12; 

$font-size-default: $font-size-default-value + em;
$font-size-large: $font-size-large-value + em;
$font-size-small: $font-size-small-value + em;
$font-size-mini: $font-size-mini-value + em;

$line-height-large: $font-size-large-value * 1.6 + em;
$line-height-default: $font-size-default-value * 1.6 + em;
$line-height-small: $font-size-small-value * 1.6 + em;
$line-height-mini: $font-size-mini-value * 1.6 + em;

$heading-font-size-large: 1 / $base-font-value * 24 + em;
$heading-font-size-default: 1 / $base-font-value * 22 + em;
$heading-font-size-small: 1 / $base-font-value * 20 + em;
$heading-font-size-mini: 1 / $base-font-value * 18 + em;


// Responsive Breakpoints 
// ONLY INSERT PIXEL VALUES, WITHOUT A PX OR EM SUFFIX. Pixel values will be converted to Ems
// ! IMPORTANT: $phone-value... If this is changed here it will need to be changed in main.js > UBP.mobileNav

$large-desktop-value: 1200; // Large Desktop (max)
$desktop-value: 1024; // Regualar desktop (max)
$landscape-tablet-value: 979; // Landscape tablet (max)
$portrait-tablet-value: 810; // Portrait tablet (max)
$landscape-phone-value: 480; // Landscape phone (max)
$portrait-phone-value: 320; // Portrait phone (max)

// Links
$link-color: $primary-color;
$link-color-hover: $secondary-color;

//Logo
$logo-width: 106px;
$logo-height: 106px;
			
// Borders
$border-rounded: true;
$border-color:	#bdbebf;
$border-radius: 3px;
$border-radius-large: 8px;
$border-radius-small: 2px;

// Buttons Colour
$button-color: $primary-color;
$button-color-hover: $secondary-color;

// Button Border
$button-border: false;
$button-rounded: true;

// Buttons Text Colour
$button-text-color: $white;
$button-text-color-hover: $white;

// Button Gradients
$button-gradient : false;
$button-color-gradient: darken($button-color, 15%);
$button-color-hover-gradient: lighten($button-color-hover, 5%);

//Forms
$label-color: #333;
$input-background-color: $gray-light;
$input-border: false;
$input-border-color: $gray;
$input-rounded: false;
$input-border-radius: $border-radius;

//General
$shadow-color: rgba(0,0,0,0.07);

//Margin and Padding
$margin-default :1em;
$margin-large: $margin-default * 1.2;
$margin-small: $margin-default * 0.8;
$margin-mini: $margin-default * 0.6;

$padding-default :0.6em;
$padding-large: $padding-default * 1.2;
$padding-small: $padding-default * 0.8;
$padding-mini: $padding-default * 0.6;

// Tables
$table-background: $white;
$table-header-color: $white;
$table-header-background: $secondary-color;

$table-gridlines: true;
$table-gridlines-color: #ddd;

$table-row-striping: true;
$table-row-striping-color: lighten($gray-light,4%);

$table-row-hover: true;
$table-row-hover-color: $gray-light;

// Navigation
$navigation-background: transparent;

$navigation-font-size: $font-size-default;
$navigation-link-color: #999;
$navigation-link-color-hover: $white;
$navigation-link-color-active: $white;

$navigation-link-background: transparent;
$navigation-link-background-hover: transparent;
$navigation-link-background-active: transparent;

$navigation-toggle-color: $white;
$navigation-toggle-color-hover: $white;
$navigation-toggle-background: #222;
$navigation-toggle-background-hover: #222;

// Dropdowns
$dropdown-background: $white;
$dropdown-border: false;
$dropdown-border-color: rgba(0,0,0,0.2);
$dropdown-shadow: true;	
$dropdown-shadow-color: rgba(0, 0, 0, 0.07);					
$dropdown-dividers: true;
$dropdown-dividers-color: #ddd;

$dropdown-link-color: $navigation-link-color;
$dropdown-link-color-hover: $gray-light;
$dropdown-link-background-hover: $black;

$dropdown-link-underline: false;
$dropdown-link-color-active: $black;
$dropdown-link-background-active: transparent;

$navigation-mobile-font-size: $font-size-large;
$navigation-mobile-border-color: $gray-dark;

// Status and alerts
$status-text: #3875d7;
$status-background: lighten($status-text, 40%);
$status-border: darken($status-text, 10%);

$status-success-text: #449238;
$status-success-background: lighten($status-success-text, 50%);
$status-success-border: darken($status-success-text, 10%);

$status-warning-text: $gray;
$status-warning-background: lighten(#ffdc00, 40%);
$status-warning-border: #ffdc00;

$status-error-text: #f0493e;
$status-error-background: lighten(#f0493e, 35%);
$status-error-border: darken($status-error-text, 10%);
